.description {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.label{
    position: absolute;
    top:0;
    right:0;
}
.prodHead{
    height: 60px;
}